# 1- Question 
1-read you csv file (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv )

2-print the first 5 rows 

3-print the shape of the data

4- print and data type of each column

In [3]:
import csv
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv ")
print(data[0:5])
print("data shape=",data.shape)
print(data.dtypes)

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
data shape= (53940, 10)
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
price        int64
x          float64
y          float64
z          float64
dtype: object

# 2-Question
1- print carat column

2- Write a Pandas program to create a new 'Quality -color' Column (cut,color)

examble => ( Ideal, E)

In [4]:
print (data["carat"])
list1=[]
list2=[]
for i in data["cut"]:
    list1.append (i)
for i in data["color"]:
    list2.append (i)
    
list3 = [i+","+j for i,j in zip(list1,list2)]
    
data["Quality_color"]=list3
print (data["Quality_color"])

0        0.23
1        0.21
2        0.23
3        0.29
4        0.31
         ...
53935    0.72
53936    0.72
53937    0.70
53938    0.86
53939    0.75
Name: carat, Length: 53940, dtype: float64
0            Ideal,E
1          Premium,E
2             Good,E
3          Premium,I
4             Good,J
            ...
53935        Ideal,D
53936         Good,D
53937    Very Good,D
53938      Premium,H
53939        Ideal,D
Name: Quality_color, Length: 53940, dtype: object

# 3-Question
1-Write a Pandas program to summarize the data.

2- only one column => 'table'

3- only 'float64' columns of the diamonds Dataframe. => include=['...']

In [5]:
print ("Data columns: ")
print (data.columns)
print ("Data describtion: ")
print (data.describe())
print ("describe column table: ")
print (data["table"].describe())
print ("Data information are: ")
print (data.info())
print("float64 is: ")
print (data.describe(include=["float64"]))

Data columns:
Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z', 'Quality_color'],
      dtype='object')
Data describtion:
              carat         depth         table         price             x  \
count  53940.000000  53940.000000  53940.000000  53940.000000  53940.000000
mean       0.797940     61.749405     57.457184   3932.799722      5.731157
std        0.474011      1.432621      2.234491   3989.439738      1.121761
min        0.200000     43.000000     43.000000    326.000000      0.000000
25%        0.400000     61.000000     56.000000    950.000000      4.710000
50%        0.700000     61.800000     57.000000   2401.000000      5.700000
75%        1.040000     62.500000     59.000000   5324.250000      6.540000
max        5.010000     79.000000     95.000000  18823.000000     10.740000

                  y             z
count  53940.000000  53940.000000
mean       5.734526      3.538734
std        1.142135      0.705699
min        0.000000      0.000000
25%        4.720000      2.910000
50%        5.710000      3.530000
75%        6.540000      4.040000
max       58.900000     31.800000
describe column table:
count    53940.000000
mean        57.457184
std          2.234491
min         43.000000
25%         56.000000
50%         57.000000
75%         59.000000
max         95.000000
Name: table, dtype: float64
Data information are:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   carat          53940 non-null  float64
 1   cut            53940 non-null  object
 2   color          53940 non-null  object
 3   clarity        53940 non-null  object
 4   depth          53940 non-null  float64
 5   table          53940 non-null  float64
 6   price          53940 non-null  int64
 7   x              53940 non-null  float64
 8   y              53940 non-null  float64
 9   z              53940 non-null  float64
 10  Quality_color  53940 non-null  object
dtypes: float64(6), int64(1), object(4)
memory usage: 4.5+ MB
None
float64 is:
              carat         depth         table             x             y  \
count  53940.000000  53940.000000  53940.000000  53940.000000  53940.000000
mean       0.797940     61.749405     57.457184      5.731157      5.734526
std        0.474011      1.432621      2.234491      1.121761      1.142135
min        0.200000     43.000000     43.000000      0.000000      0.000000
25%        0.400000     61.000000     56.000000      4.710000      4.720000
50%        0.700000     61.800000     57.000000      5.700000      5.710000
75%        1.040000     62.500000     59.000000      6.540000      6.540000
max        5.010000     79.000000     95.000000     10.740000     58.900000

                  z
count  53940.000000
mean       3.538734
std        0.705699
min        0.000000
25%        2.910000
50%        3.530000
75%        4.040000
max       31.800000

# 4-Question
Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5. (x,y,z)

In [6]:

l=((data.x>5) & (data.y>5) & (data.z>5))

print(data[l])

       carat        cut color clarity  depth  table  price     x      y  \
11778   1.83       Fair     J      I1   70.0   58.0   5083  7.34   7.28
13002   2.14       Fair     J      I1   69.4   57.0   5405  7.74   7.70
13118   2.15       Fair     J      I1   65.5   57.0   5430  8.01   7.95
13562   1.96       Fair     F      I1   66.6   60.0   5554  7.59   7.56
13757   2.22       Fair     J      I1   66.7   56.0   5607  8.04   8.02
...      ...        ...   ...     ...    ...    ...    ...   ...    ...
27748   2.00  Very Good     G     SI1   63.5   56.0  18818  7.90   7.97
27749   2.29    Premium     I     VS2   60.8   60.0  18823  8.50   8.47
48410   0.51  Very Good     E     VS1   61.8   54.7   1970  5.12   5.15
49189   0.51      Ideal     E     VS1   61.8   55.0   2075  5.15  31.80
49905   0.50  Very Good     G    VVS1   63.7   58.0   2180  5.01   5.04

           z Quality_color
11778   5.12        Fair,J
13002   5.36        Fair,J
13118   5.23        Fair,J
13562   5.04        Fair,F
13757   5.36        Fair,J
...      ...           ...
27748   5.04   Very Good,G
27749   5.16     Premium,I
48410  31.80   Very Good,E
49189   5.12       Ideal,E
49905   5.06   Very Good,G

[1457 rows x 11 columns]

# 5-Question
1- rename one col

2- rename two col togeather

3- rename all col togeather

In [7]:
print(data.columns)
m=data.rename(columns={"color":"COLOR"})
n=data.rename(columns={"cut":"CUT","price":"PRICE"})
o=data.columns=["CARAT","CUT1","COLOR!","CLARITY","DEPTH","TABLE","PRICE","X","Y","Z","QUALITY_COLOR"]
print(m)
print(n)
print(o)

Index(['carat', 'cut', 'color', 'clarity', 'depth', 'table', 'price', 'x', 'y',
       'z', 'Quality_color'],
      dtype='object')
       carat        cut COLOR clarity  depth  table  price     x     y     z  \
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

      Quality_color
0           Ideal,E
1         Premium,E
2            Good,E
3         Premium,I
4            Good,J
...             ...
53935       Ideal,D
53936        Good,D
53937   Very Good,D
53938     Premium,H
53939       Ideal,D

[53940 rows x 11 columns]
       carat        CUT color clarity  depth  table  PRICE     x     y     z  \
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

      Quality_color
0           Ideal,E
1         Premium,E
2            Good,E
3         Premium,I
4            Good,J
...             ...
53935       Ideal,D
53936        Good,D
53937   Very Good,D
53938     Premium,H
53939       Ideal,D

[53940 rows x 11 columns]
['CARAT', 'CUT1', 'COLOR!', 'CLARITY', 'DEPTH', 'TABLE', 'PRICE', 'X', 'Y', 'Z', 'QUALITY_COLOR']

# 6-Question
Write a Pandas program to find the diamonds that are either Good or Very Good.

In [8]:
x = ((data.CUT1=="Good") | (data.CUT1=="Very Good"))
print (data[x])

       CARAT       CUT1 COLOR! CLARITY  DEPTH  TABLE  PRICE     X     Y     Z  \
2       0.23       Good      E     VS1   56.9   65.0    327  4.05  4.07  2.31
4       0.31       Good      J     SI2   63.3   58.0    335  4.34  4.35  2.75
5       0.24  Very Good      J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6       0.24  Very Good      I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7       0.26  Very Good      H     SI1   61.9   55.0    337  4.07  4.11  2.53
...      ...        ...    ...     ...    ...    ...    ...   ...   ...   ...
53927   0.79       Good      F     SI1   58.1   59.0   2756  6.06  6.13  3.54
53932   0.70  Very Good      E     VS2   60.5   59.0   2757  5.71  5.76  3.47
53933   0.70  Very Good      E     VS2   61.2   59.0   2757  5.69  5.72  3.49
53936   0.72       Good      D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good      D     SI1   62.8   60.0   2757  5.66  5.68  3.56

      QUALITY_COLOR
2            Good,E
4            Good,J
5       Very Good,J
6       Very Good,I
7       Very Good,H
...             ...
53927        Good,F
53932   Very Good,E
53933   Very Good,E
53936        Good,D
53937   Very Good,D

[16988 rows x 11 columns]

# 7-Question
1-print the name of all the columns

2- Mean of each column

3-Mean of each row of diamonds DataFrame:

In [24]:
x = (data.columns)
y= (data.describe(include=["float64","int64"]))
for i in y:
    print ("mean of: ",i,data[i].mean())
    
print ("mean of each row: ")   
print (data.mean(axis=1))

mean of:  CARAT 0.7979397478679852
mean of:  DEPTH 61.74940489432624
mean of:  TABLE 57.45718390804603
mean of:  PRICE 3932.799721913237
mean of:  X 5.731157211716609
mean of:  Y 5.734525954764462
mean of:  Z 3.5387337782723316
mean of each row:
0         64.727143
1         65.292857
2         65.651429
3         66.535714
4         66.864286
            ...
53935    412.932857
53936    412.981429
53937    413.628571
53938    413.267143
53939    412.898571
Length: 53940, dtype: float64

C:\Users\Moustafa\AppData\Local\Temp/ipykernel_16620/2946057822.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print (data.mean(axis=1))

# 8-Question
1- mean of 'price' column only

2- Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

3-Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

4- count how many times each value in cut series of diamonds DataFrame occurs. value_counts()

In [41]:
a =  (data.PRICE.mean())
print ("The mean of price column: ", a)

b = (data.groupby("CUT1"))
print ("mean of price for each cut: ",b.PRICE.mean())
print ("count of price for each cut: ",b.PRICE.count())
print ("minimum of price for each cut: ",b.PRICE.min())
print ("maximum of price for each cut: ",b.PRICE.max())

print ("Count of each cut: ", data["CUT1"].value_counts)

The mean of price column:  3932.799721913237
mean of price for each cut:  CUT1
Fair         4358.757764
Good         3928.864452
Ideal        3457.541970
Premium      4584.257704
Very Good    3981.759891
Name: PRICE, dtype: float64
count of price for each cut:  CUT1
Fair          1610
Good          4906
Ideal        21551
Premium      13791
Very Good    12082
Name: PRICE, dtype: int64
minimum of price for each cut:  CUT1
Fair         337
Good         327
Ideal        326
Premium      326
Very Good    336
Name: PRICE, dtype: int64
maximum of price for each cut:  CUT1
Fair         18574
Good         18788
Ideal        18806
Premium      18823
Very Good    18818
Name: PRICE, dtype: int64
Count of each cut:  <bound method IndexOpsMixin.value_counts of 0            Ideal
1          Premium
2             Good
3          Premium
4             Good
           ...
53935        Ideal
53936         Good
53937    Very Good
53938      Premium
53939        Ideal
Name: CUT1, Length: 53940, dtype: object>

# 9-Question
Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [44]:
r = data.isnull()
print (r)
print (r.sum())

       CARAT   CUT1  COLOR!  CLARITY  DEPTH  TABLE  PRICE      X      Y  \
0      False  False   False    False  False  False  False  False  False
1      False  False   False    False  False  False  False  False  False
2      False  False   False    False  False  False  False  False  False
3      False  False   False    False  False  False  False  False  False
4      False  False   False    False  False  False  False  False  False
...      ...    ...     ...      ...    ...    ...    ...    ...    ...
53935  False  False   False    False  False  False  False  False  False
53936  False  False   False    False  False  False  False  False  False
53937  False  False   False    False  False  False  False  False  False
53938  False  False   False    False  False  False  False  False  False
53939  False  False   False    False  False  False  False  False  False

           Z  QUALITY_COLOR
0      False          False
1      False          False
2      False          False
3      False          False
4      False          False
...      ...            ...
53935  False          False
53936  False          False
53937  False          False
53938  False          False
53939  False          False

[53940 rows x 11 columns]
CARAT            0
CUT1             0
COLOR!           0
CLARITY          0
DEPTH            0
TABLE            0
PRICE            0
X                0
Y                0
Z                0
QUALITY_COLOR    0
dtype: int64